@media (min-width: $mobile-width) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 20px 20px;
    background-color: $base-white;
    text-align: left;
  }

  .card h3 {
    @include h3--mobile;
    margin-top: 10px;
    margin-bottom: 4px;
    align-self: stretch;
  }

  .card p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .card__buy-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: stretch;
  }

  .card__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: $base-black;
  }

  .card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 140px;
    column-gap: 6px;
  }
}

@media (min-width: $tablet-width) {
  .card {
    max-width: 350px;
    padding: 40px 20px 20px 20px;
    background-color: $base-white;
    text-align: left;
    transition: $transition-time;
    &:hover {
      box-shadow: 0 2px 5px 0 #00000030;
    }
  }

  .card h3 {
    @include h3--tablet;
    margin-top: 10px;
    margin-bottom: 4px;
    align-self: stretch;
  }

  .card p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .card__buy-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: stretch;
  }

  .card__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: $base-black;
  }

  .card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 140px;
    column-gap: 6px;
  }
}

// DESKTOP

@media (min-width: $desktop-width) {
  .card {
    max-width: 320px;
    padding: 50px 30px 30px;
    background-color: $base-white;
    text-align: left;
    transition: $transition-time;
    &:hover {
      box-shadow: 0 2px 5px 0 #00000030;
    }
  }

  .card h3 {
    @include h3--desktop;
    margin-top: 10px;
    margin-bottom: 4px;
    align-self: stretch;
  }

  .card p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .card__buy-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: stretch;
  }

  .card__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: $base-black;
  }

  .card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 140px;
    column-gap: 6px;
  }
}
