@media (min-width: $mobile-width) {
  .copyright {
    display: flex;
    padding: 20px 0 30px;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    text-decoration: none;
    transition: $transition-time;

    &:hover svg path,
    &:focus svg path {
      transition: $transition-time;
      fill: $base-primary;
    }

    &:active svg path {
      fill: $primary-darker;
    }

    &:hover span {
      color: $base-primary;
      transition: $transition-time;
    }

    &:active span {
      color: $primary-darker;
    }
  }

  .copyright span {
    font-size: 12px;
    line-height: 12px;
    color: $base-gray;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 30px;
  }
}
