@media (min-width: $mobile-width) {
  .filters {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
  }

  .filters__title {
    @include filter-heading;
    margin-top: 0px;
    margin-bottom: 30px;
  }


  .filters__price-input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 118px;
    height: 40px;
    padding: 8px, 10px, 8px, 10px;
    color: $base-black;
    outline: none;
    border: 2px solid $primary-lighter;
    border-radius: 4px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: $transition-time;
    &:focus {
      border-color: $primary-darker;
    }
    &:disabled {
      border-color: $base-gray;
    }
  }

  .filters__price-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 18px;
  }

  .filters__price-inputs span {
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: $base-gray;
  }

  .filters__price-input::placeholder {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $base-gray;
  }

  .filters__milk {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin-bottom: 34px;
    border: none;
  }

  .filters__milk  .filters__title {
    margin-bottom: 20px;
  }

  .filters label {
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    line-height: 24px;
    color: $base-black;
    cursor: pointer;
  }

  .filters label.disabled {
    color: $base-gray;
  }

  .filters__origin {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    margin-bottom: 30px;
    border: none;
  }

  .filters__origin  .filters__title {
    margin-bottom: 20px;
  }

  .filters__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    margin-bottom: 35px;
  }

  .filters__button-wrapper .button {
    height: 40px;
    max-width: 280px;
  }

  .filters__reset.button {
    background-color: $base-white;
    color: $base-primary;
    &:hover,
    &:focus {
      color: $base-white;
    }
  }

  .filters__sort .filters__title {
    margin: 0;
  }

  .filters__price-box {
    margin-bottom: 30px;
  }

  // BUTTONS

  .filters__milk input {
    display: none;
  }

  .filters__radio-span {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: 2px solid $base-gray;
    background-color: $base-white;
    transition: $transition-time;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: transparent;
    }
  }

  .filters__milk input:checked + .filters__radio-span {
    outline: 2px solid $base-primary;
    &::before {
      background-color: $base-primary;
    }
  }

  .filters__radio-span.disabled {
    outline: 2px solid $base-gray;
  }
  .filters__milk input:checked + .filters__radio-span.disabled {
    outline: 2px solid $base-gray;
    &::before {
      background-color: $base-gray;
    }
  }

  .filters__milk label:hover .filters__radio-span {
    outline: 2px solid $base-primary;
    &::before {
      background-color: $primary-opacity;
    }
}

  .filters__origin input {
    display: none;
  }

  .filters__check-span {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid $base-gray;
    background-color: $base-gray;
    transition: 0.5s;
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $base-white;
      transition: 0.5s;
    }
  }

  .filters__origin input:checked + .filters__check-span {
    background-color: $base-primary;
    border: 2px solid $base-primary;
    &::before {
      background-color: $base-white;
      transform: translateX(18px);
    }
  }

  .filters__check-span.disabled {
    background-color: $light-gray;
    border: 2px solid $light-gray;
  }
  .filters__origin input:checked + .filters__check-span.disabled {
    background-color: $light-gray;
    border: 2px solid $light-gray;
    &::before {
      background-color: $base-gray;
    }
  }

  .filters__origin label:hover .filters__check-span {
      border-color: $base-primary;
  }


  // RANGE

  .filters__range {
    position: relative;
    height: 2px;
    width: 280px;
    margin-bottom: 40px;
    background-color: $light-gray;
  }

  .filtes__range-bar {
      position: absolute;
      height: 4px;
      left: 0;
      width: 263px;
      border-radius: 10px;
      background-color: $base-primary;
  }

  .filtes__range-toggle {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $base-primary;
    background-color: $base-white;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 8px);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transition: $transition-time;
      background-color: transparent;
    }

    &:hover,
    &:focus {
      outline: none;
    }
    &:hover::after,
    &:focus::after {
      background-color: $primary-opacity;
    }
    &:active::after {
      background-color: $base-primary;
    }
  }

  .filtes__range-toggle--min {
      left: 0;
      top: calc(50% - 12px);
  }

  .filtes__range-toggle--max {
      right: 0;
      top: calc(50% - 12px);
  }

  .filters__range.disabled {
    .filtes__range-bar {
      background-color: $light-gray;
      pointer-events: none;
    }
    .filtes__range-toggle {
      border-color: $light-gray;
      pointer-events: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
  }

  .filters__title {
    @include filter-heading;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .filters__milk,
  .filters__origin {
    margin-left: 0;
    margin-right: 0;
    row-gap: 20px;
  }

  .filters__origin {
    margin-bottom: 0;
  }

  .filters__button-wrapper {
    flex-direction: row;
    width: 100%;
    column-gap: 20px;
    row-gap: 0;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .filters__button-wrapper button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .filters__range {
    width: 230px;
    margin-bottom: 30px;
    background-color: $light-gray;
  }

  .filtes__range-bar {
    width: 202px;
  }

  .filters__price-input {
    width: 88px;
  }

  .filters__price-box .filters__title {
    margin-bottom: 30px;
  }

  .filters__price-inputs {
    justify-content: flex-start;
    column-gap: 20px;
  }
}

@media (min-width: $desktop-width) {
  .filters__button-wrapper {
    justify-content: flex-start;
  }

  .filters {
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 0;
    justify-content: space-between;
    width: 100%;
    margin-left: -2px;
  }

  .filters__range {
    width: 320px;
    margin-bottom: 30px;
    background-color: $light-gray;
  }

  .filtes__range-bar {
    width: 290px;
  }

  .filters__origin {
    margin-bottom: 40px;
  }

  .filters__price-input {
    width: 135px;
  }

  .filters__price-box {
    margin-bottom: 33px;
  }

  .filters__button-wrapper button {
    padding-left: 26px;
    padding-right: 26px;
  }
}
