@media (min-width: $mobile-width) {
  .footer {
    background-color: $base-white;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 22px;
  }

  .footer__title {
    @include h4--common;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .footer__contacts-wrapper .footer__title {
    margin-bottom: 20px;
  }

  .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 20px;
  }

  .footer__socials {
    border-bottom: 1px solid $base-secondary;
  }

  .footer-nav,
  .footer__media,
  .footer__contacts-wrapper {
    padding: 0px 20px 20px;
    border-bottom: 1px solid $base-secondary;
  }

  .footer__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .footer__nav-item {
    width: 100%;
  }

  .footer__nav-link {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: $base-black;
    transition: $transition-time;
  }

  .footer__media-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .footer__media-item{
    width: 100%;
  }

  .footer__media-link {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: $base-black;
    transition: $transition-time;
  }

  .footer__contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__contacts {
    display: flex;
    column-gap: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $base-black;
  }

  .footer__contacts-address {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    color: $base-black;
    padding-bottom: 10px;
  }

  .footer__contacts svg {
    flex-shrink: 0;
  }

  .footer__contacts--address {
    align-items: flex-start;
    margin-bottom: 16px;
  }

  .footer__contacts--address address {
    font-style: normal;
  }

  .footer__contacts--phone {
    align-items: center;

  }

  .footer__logo-wrapper {
    cursor: pointer;
  }

  .footer__media-link:hover,
   .footer__nav-link:hover {
    color: $primary-lighter;
  }
  .footer__media-link:active,
  .footer__nav-link:active {
    color: $primary-darker;
  }
 };

 // TABLET

 @media (min-width: $tablet-width) {

  .footer__wrapper {
    padding-top: 45px;
  }

  .footer__socials {
    border-bottom: none;
  }

  .footer-nav,
  .footer__media,
  .footer__contacts-wrapper {
    max-width: 30%;
    padding: 0;
    border-bottom: none;
  }

  .footer__container {
    width: 100vw;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    column-gap: 30px;
  }

  .footer__media {
    margin-left: 30px;
  }

  .footer__contacts {
    margin-left: -5px;
  }
 };

  // DESKTOP

  @media (min-width: $desktop-width) {
    .footer__wrapper {
      max-width: 1360px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-top: 40px;
      column-gap: 60px;
    }

    .footer__container {
      width: fit-content;
      margin: 0;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 10px;
      padding-right: 0;
      padding-left: 0;
      column-gap: 0;
    }

    .footer__contacts-wrapper {
      margin-left: 166px;
    }

    .footer__media {
      margin-left: 205px;
    }

    .footer-nav,
    .footer__media,
    .footer__contacts-wrapper {
     max-width: 310px;
    }

    .footer__copyright {
      width: 100vw;
    }
  };
