@media (min-width: $mobile-width) {
  .header__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }


  .header__nav {
    position: absolute;
    top: 60px;
    z-index: 99;
    order: 3;
    width: 100vw;
    padding: 0;
    background-color: $base-white;
    transform: scaleY(0);
    transform-origin: top;
    transition: $transition-time;
  }

  .header__nav.active {
    transform: scaleY(1);
  }

  .header__wrapper.no-js  .header__nav {
    position: static;
    transform: scaleY(1);
  }

  .header__wrapper {
    padding: 0px;
  }

  .header__wrapper .header__logo-wrapper {
    padding-left: 20px;
  }

  .header__wrapper.no-js .header__user-box {
    padding-right: 20px;
  }

  .header__wrapper.no-js .user-box__menu {
    display: none;
  }
}

// TABLET

@media (min-width: $tablet-width) {

  .header__nav {
    position: static;
    order: 2;
    width: auto;
    transform: scaleY(1);
  }

  .header__user-box {
    order: 3;
  }

  .header__wrapper {
    padding: 0px;
  }

  .header__wrapper .header__logo-wrapper {
    padding-left: 20px;
  }

  .header__wrapper .header__user-box {
    padding-right: 20px;
  }

  .user-box {
    align-self: stretch;
  }

}

// DESKTOP

@media (min-width: $desktop-width) {
  .header__wrapper {
    max-width: 1360px;
    margin: 0 auto;
  }

  .header__wrapper .header__logo-wrapper {
    padding-left: 40px;
  }

  .header__wrapper .header__user-box {
    padding-right: 20px;
  }

}
