@media (min-width: $mobile-width) {
  .map {
    min-width: 320px;
    height: 420px;
    background-image: url("../../assets/img/pictures/map.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

}

@media (min-width: $tablet-width) {
  .map {
    height: 480px;
  }

}
