@media (min-width: $mobile-width) {
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .nav__link {
    display: block;
    width: 100%;
    padding: 20px;
    font-weight: 500;
    text-decoration: none;
    color: $base-black;
    text-transform: uppercase;
    transition: $transition-time;
  }

  .nav__item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $primary-opacity;
    transition: $transition-time;
    &:active {
      background-color: $base-secondary;;
    }
  }

  .nav__item:first-child {
    border-top: 1px solid $primary-opacity;
  }
  };

  // TABLET

  @media (min-width: $tablet-width) {
    .nav__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    .nav__link {
      width: fit-content;
      padding-top: 32px;
      padding-bottom: 32px;
      padding-left: 20px;
      padding-right: 20px;
      color: $base-black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        outline: none;
        color: $base-primary;
      }
    }

    .nav__item {
      width: fit-content;
      text-align: center;
      border-bottom: none;
      &:active {
        background-color: $base-secondary;;
      }
    }
    .nav__item:first-child {
      border-top: none;
    }

    .nav__link--current {
      position: relative;
      color: $base-primary;
      pointer-events: none;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $base-primary;
      }
    }
    };

    @media (min-width: $tablet-width) {
      .nav__list {
        column-gap: 20px;
      }
    };
