@media (min-width: $mobile-width) {
  .promo {
    position: relative;
    // padding-top: 20px;
    // padding-bottom: 60px;
    overflow: hidden;
  }

  .promo__swiper-button {
    position: absolute;
    z-index: 10;
    top: 0;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0px;
    width: 20px;
    background: transparent;
    cursor: pointer;
    border: none;
    transition: $transition-time;
    &:disabled svg path {
      fill: $base-gray
    }
  }

  .promo__swiper-button--left {
    left: 0;
    &:hover {
      background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &:active {
      background: linear-gradient(to right, rgba(121, 89, 207, 0.5) 0%, rgba(120, 89, 207, 0) 100%);
    }
  }
  .promo__swiper-button--right {
    right: 0;
    &:hover {
      background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &:active {
      background: linear-gradient(to left, rgba(121, 89, 207, 0.3) 0%, rgba(120, 89, 207, 0) 100%);
    }
  }

  .promo__swiper-button--right svg {
    transform: rotate(180deg);
  }

  .promo__pagination {
    display: none;
  }
}
