@media (min-width: $mobile-width) {
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .slide__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .slide__badge {
    @include badge;
  }

  .slide__title {
    @include slide__title--mobile;
    margin: 0;
  }

  .slide__description {
    @include slide__text--small;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .slide__old-price {
    font-size: 16px;
    line-height: 32px;
    text-decoration-line: line-through;
    color: $base-primary;
  }

  .slide__new-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: $base-black;
  }

  .slide__buy-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .slide__prices {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
  }

  .slide__buy-button {
    width: 113px;
    height: 40px;
  }
}
