@media (min-width: $mobile-width) {
  .swiper-pagination {
    display: none;
  }

  .swiper-slide {
    cursor: pointer;
  }

  .swiper__slide--flat-white {
    background-color: $flat-white;
  }

  .swiper__slide--latte {
    background-color: $lavander-latte;
  }

  .swiper__slide--espresso {
    background-color: $espresso;
  }
}

// TABLET
@media (min-width: $tablet-width) {
  .swiper {
    height: 828px;
  }
}

// DESKTOP

@media (min-width: $desktop-width) {
  .swiper {
    height: 714px;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 62px;
    height: 4px;
    border-radius: 0;
    opacity: 1;
    background-color: $base-white;
    z-index: 99;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: $base-primary;
  }
}
