@media (min-width: $mobile-width) {
  .user-box__list {
    display: flex;

    margin: 0;
    padding: 0;
    align-items: center;
    list-style-type: none;

  }
  .user-box__item {
    height: 100%;
    transition: $transition-time;
    &:active {
      background-color: $base-secondary;
    }
  }
  .user-box__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  .user-box__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: $transition-time;

  }

  .user-box__burger-line {
    width: 16px;
    height: 1.5px;
    background-color: $base-black;
    transition: 0.5s;
    transform-origin: center;
  }

  // Menu with JS behaviour

  .user-box__menu.active .user-box__burger-line:nth-child(3) {
    opacity: 0;
  }

  .user-box__menu.active .user-box__burger-line:nth-child(2) {
    transform: translateY(6px) rotate(45deg) translateX(1px);
  }

  .user-box__menu.active .user-box__burger-line:nth-child(4) {
    transform: translateY(-4px) rotate(-45deg)translateX(-0px) ;
  }

  .user-box__item-title {
    display: none;
  }

}

// TABLET

@media (min-width: $tablet-width) {
  .user-box__menu {
    display: none;
  }

  .user-box__list {
    height: 100%;
  }

  .user-box__link {
    height: 100%;
  }
}

@media  (min-width: $desktop-width) {
  .user-box {
    min-height: 100%;
  }

  .user-box__list {
    column-gap: 20px;
  }

  .user-box__item-title {
    display: flex;
    order: 99;
  }

  .user-box__item {
    min-height: 100%;
  }

  .user-box__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    column-gap: 8px;
    padding: 0px 20px;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;
    color: $base-black;
    transition: $transition-time;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $base-primary;
    }
    &:hover svg path {
      transition: $transition-time;
      fill: $base-primary;
    }
  }

  .user-box__menu {
    display: none;
  }
}
