*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-primary;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $mobile-width) {
  .wrapper {
    @include mobile-wrapper
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    @include tablet-wrapper
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    @include desktop-wrapper
  }
}

.button {
  @include button;
}
